
html,
body {
  height: 100%;
}

.landing {
  height: 100%;
  background-image: url(../images/background.jpg);
  background-position: center;
  background-size: cover;
  color: #333;
}

.intro {
  padding-top: 25%;
}
